
body {
      background-image: url(https://s2.ax1x.com/2020/02/17/3PrOLd.png);
      background-size: 100vw auto;
      background-position: center top;
      background-repeat: no-repeat;
      background-attachment: fixed;
}

@media (min-aspect-ratio: 2400/1850) {
  body {
    background-image: url(https://raw.githubusercontent.com/fengwei2002/picture/master/test.png);
  }
}

.container {
    background-color: rgba(255, 255, 255, 0.7);    
    box-shadow: 0 0 1rem 1rem rgba(255, 255, 255, 0.822);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.466);
    min-height: 1vh;
  }

@media (min-width: 70em) {
  .container {
    max-width: 42rem;
  }
}
@media (min-width: 96em) {
  .container {
    max-width: 48rem;
  }
}
.page-title {
      padding-top: 1.2rem;
      padding-bottom: 0.5rem;
    }

h1,
h2,
h3,
h4,
h5,
h6,
html,

.sidebar {
  /*font-family: “Arial”,”Microsoft YaHei”,”黑体”,”宋体”,sans-serif;小米*/
  /*最佳font-family:“Arial”,"Source Code Pro",YouYuan, monospace;*/
  font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue",Helvetica,Arial,"PingFang SC","Source Code Pro","WenQuanYi Micro Hei","YouYuan",Lato,proxima-nova,sans-serif
} 
.theme-base-02 ::selection {
  color: rgba(255, 255, 255, 0.363);
  background: #1832867a;/* 选中效果 */
}
/*08*/
/*09，0a是金黄色*/
/*10为橙色*/
/*0b是绿色*/
/*0c是青绿色*/
/*0d是淡蓝色*/
/*0e是淡紫色*/
/*0f为黑棕色*/


.wrap {
  background-color: rgba(255, 255, 255, 0.384);
}
#waifu-toggle {
  z-index: 9;
}
#waifu {
  right: 0;
  left: auto !important;
}
#waifu-tool {
  left: 0;
  right: auto !important;
}
.masthead {
  margin-bottom: 0rem;
  border-bottom-width: 0px;
}
.reward_qr {
  border-width: 0px;
}
#rewardQRs {
  display: none;
  border-width: 0px;
}
#rewardButton {
  background-color: #9f0ef39c;
  border-radius: 4px;
  color: rgba(15, 1, 1, 0.603);
  font-size: 1rem;
  display: block;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  border-width: 0px;
}
.sidebar-social {
  text-align: center;
  font-size: 0.7rem;
}
.sidebar-social a:hover,
.sidebar-social a:focus {
  text-decoration: none;
  background-color: rgba(24, 3, 3, 0.877);
}
#sidebar-search-input {
  background: none;
  border: none;
  color: #fff;
  width: 100%;
}

/* Hide the sidebar checkbox that we toggle with `.sidebar-toggle` */
.sidebar-checkbox {
  display: none;
}
.sidebar-toggle {
  position: fixed;
}
.sidebar-toggle:before,
.sidebar-toggle:active:before,
#sidebar-checkbox:focus ~ .sidebar-toggle:before,
#sidebar-checkbox:checked ~ .sidebar-toggle:before {
  background-image: none;
}

/*头像效果-start*/
.ih-item.circle.effect {
  margin: 0 auto;
  -webkit-perspective: 900px;
  -moz-perspective: 900px;
  perspective: 900px;
}
.ih-item.circle.effect .img {
  z-index: 11;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.ih-item.circle.effect .info {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.ih-item.circle.effect .info .info-back {
  opacity: 1;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.ih-item.circle.effect.bottom_to_top .img {
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
.ih-item.circle.effect.bottom_to_top a:hover .img {
  -webkit-transform: rotate3d(1, 0, 0, 180deg);
  -moz-transform: rotate3d(1, 0, 0, 180deg);
  -ms-transform: rotate3d(1, 0, 0, 180deg);
  -o-transform: rotate3d(1, 0, 0, 180deg);
  transform: rotate3d(1, 0, 0, 180deg);
}
.ih-item.circle.effect.top_to_bottom .img {
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.ih-item.circle.effect.top_to_bottom a:hover .img {
  -webkit-transform: rotate3d(1, 0, 0, -180deg);
  -moz-transform: rotate3d(1, 0, 0, -180deg);
  -ms-transform: rotate3d(1, 0, 0, -180deg);
  -o-transform: rotate3d(1, 0, 0, -180deg);
  transform: rotate3d(1, 0, 0, -180deg);
}
.ih-item.circle.effect.left_to_right .img {
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}
.ih-item.circle.effect.left_to_right a:hover .img {
  -webkit-transform: rotate3d(0, 1, 0, 180deg);
  -moz-transform: rotate3d(0, 1, 0, 180deg);
  -ms-transform: rotate3d(0, 1, 0, 180deg);
  -o-transform: rotate3d(0, 1, 0, 180deg);
  transform: rotate3d(0, 1, 0, 180deg);
}
.ih-item.circle.effect.right_to_left .img {
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}
.ih-item.circle.effect.right_to_left a:hover .img {
  -webkit-transform: rotate3d(0, 1, 0, -180deg);
  -moz-transform: rotate3d(0, 1, 0, -180deg);
  -ms-transform: rotate3d(0, 1, 0, -180deg);
  -o-transform: rotate3d(0, 1, 0, -180deg);
  transform: rotate3d(0, 1, 0, -180deg);
}
.ih-item a:hover {
  text-decoration: none;
}
.ih-item img {
  width: 100%;
  height: 100%;
}
.ih-item.circle {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.ih-item.circle .img {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.ih-item.circle .img:before {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item.circle .img img {
  border-radius: 50%;
}
.ih-item.circle .info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
@media all and (max-width: 780px) {
  .ih-item.circle .img {
    position: relative;
    width: 100px;
    height: 100px;
    /*margin-top: 20px;*/
    border-radius: 50%;
  }
  .ih-item.circle {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
}
/*头像效果-end*/