---
layout: comments
---
<small class="post-date">
  {% if site.post.date.enable %}
  {{ site.post.date.alert }}
  {{ page.date | date_to_string }}
  {% endif %}
  {% if site.post.wordcount.enable %}
  {{ site.post.wordcount.alert }}
  {{ page.content | strip_html | strip_newlines | remove: " " | size }}{{ site.post.wordcount.unit }}
  {% endif %}
  {% if site.post.readtime.enable %}
  {{ site.post.readtime.alert }}
  {{ page.content | strip_html | strip_newlines | remove: " " | size | divided_by: site.post.readtime.divided_by | plus: 1 }}{{ site.post.readtime.unit }}
  {% endif %}
  {% if site.post.visitor.enable %}
  <span id="{{ page.url }}" class="leancloud-visitors" data-flag-title="{{ page.title }}">
    {{ site.post.visitor.alert }}
    <span class="leancloud-visitors-count">
      <i class="fas fa-spinner fa-pulse"></i>
    </span>{{ site.post.visitor.unit }}
  </span>
  {% endif %}
  {% if site.post.tags.enable %}
  {% for node in page.tags %}
  {{ site.post.tags.alert }}
  {{ node }}
  {% endfor %}
  {% endif %}
  {{ site.post.copyright }}
  {% if page.background_music %}
  <div>
    {{ page.background_music }}
  </div>
  {% endif %}
</small>
{{ content }}
				
				{% if site.comment_gitalk_repo %}
				<!-- Gitalk start -->
				<div id="gitalk-container"></div>
				<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
                <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
				
				<script>
				    var gitalk  = new Gitalk ({
					
				        id: window.location.pathname,   // Ensure uniqueness and length less than 50  '页面的唯一标识，gitalk会根据这个标识自动创建的issue的标签'
				        clientID: '{{site.comment_gitalk_clientId}}',
				        clientSecret: '{{site.comment_gitalk_clientSecret}}',
				        repo: '{{site.comment_gitalk_repo}}',
				        owner: '{{site.github_username}}',
				        admin: ['{{site.github_username}}'],
						    distractionFreeMode: true  // Facebook-like distraction free mode
				    })
				    gitalk.render('gitalk-container')
				</script>
				
				<!-- Gitalk end -->
        {% endif %}
        
